.home {
    width: 100%;
    text-align: center;

	img {
		max-width: 500px;
	}

	a {
		padding: .5em 1em;
		//background: #fff;
		color: #fff;
		border-radius: 5px;
		display: inline-block;
		-webkit-transition: all 1.1s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: all 1.1s cubic-bezier(0.7, 0, 0.3, 1);
		transition: all 1.1s cubic-bezier(0.7, 0, 0.3, 1);
		margin-top: 6%;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 7px;
		opacity: .7;

		&:hover {
			//background: #333;
			color: #fff;
			opacity: 1;
			letter-spacing: 11px;
			//1font-weight: 600;
		}
	}
}

@include media($vertical) {
	.mobile-home {
		background-image: url(/img/mobile-back.jpg) !important;
	    background-position: top center !important;
	}
 }