.works {

    padding: 1em;

	.items {
		display: block;
		width: 80%; 

		@include media($vertical) {
		 	width: 100%;
	 	    text-align: center;
		 }
	}

	h2 {
		width: 100%;
		padding: 25px 0 0 0;
	}

	.item {
		-webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
		-moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
		transition: all .4s cubic-bezier(0.7,0,.3,1);
		margin: 1%; display: inline-block;

		&:hover {
			opacity: .9;
			transform: scale(1.05);
		}
	}
}

.trabajos-nav {

	a {
		padding: .5em 1em;
		background: #fff;
		color: #333;
		border-radius: 5px;
		display: inline-block;
		-webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
		-moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
		transition: all .4s cubic-bezier(0.7,0,.3,1);
	    margin: 1%;

		&:hover {
			background: #333;
			color: #fff;
			font-weight: 600;
		}
	}
}

.clinic {

	.clinic-container {
		background: #333; 
		
	} 

	.clinic-content {
		padding: 0;
		-webkit-transition: all 1.4s cubic-bezier(0.7,0,.3,1);
		-moz-transition: all 1.4s cubic-bezier(0.7,0,.3,1);
		transition: all 1.4s cubic-bezier(0.7,0,.3,1);


	}



	.header-title {
		text-align: center;
		color: #fff;
		font-weight: 400;
		font-size: 6em;
		opacity: 1;
		font-family: 'Raleway Dots', 'Raleway', sans-serif;
		text-transform: uppercase;
		position: absolute;
		top: 20vh;
		width: 860px;
		left: calc(50vw - 430px);
		margin: 0;
		z-index: 1;
		-webkit-transition: all 1.4s cubic-bezier(0.7,0,.3,1);
		-moz-transition: all 1.4s cubic-bezier(0.7,0,.3,1);
		transition: all 1.4s cubic-bezier(0.7,0,.3,1);


		b {
			font-size: 18px; letter-spacing: 2px;
			font-family: 'Raleway', sans-serif;
			display: block; 
			margin: 25px 0 15px 0;
			text-shadow: 5px 5px 11px #333;
		}

		span {
			text-shadow: 5px 5px 11px #333;
		}

		@include media($vertical) {
			font-weight: 400;
			font-size: 50px;
			position: absolute;
			top: 25vh;
			width: 100%;
			left: 0;
		 }
	}

	header {
		background-size: cover;
		height: 80vh;
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		opacity: .3;
		background-color: #000;
		background-position: top center;
		-webkit-transition: all 1.4s cubic-bezier(0.7,0,.3,1);
		-moz-transition: all 1.4s cubic-bezier(0.7,0,.3,1);
		transition: all 1.4s cubic-bezier(0.7,0,.3,1);

		

		@include media($vertical) {
			height: 80vh;
		}

		&:before {
			//content: '';
			//position: fixed;
			//background: red;
			//left: 0;
			//right: 0;
			//top: 0;
			//bottom: 0;
		}
	}

	.hero {
		
	}

	.hero:hover {

		.header-title {
			opacity: 1;

		}

		header {
			opacity: .5;
		}
	}

	article {
		color: #fff;
		max-width: 730px;
		margin: 0 auto;
		padding: 1em;

		-webkit-transition: all 1.4s cubic-bezier(0.7,0,.3,1);
		-moz-transition: all 1.4s cubic-bezier(0.7,0,.3,1);
		transition: all 1.4s cubic-bezier(0.7,0,.3,1);


		h1, h2, h3, h4, h5, h6 {
			text-align: left;
		}

		p {

			@include media($vertical) {
				font-size: 16px;
				line-height: 26px;
				text-align: center;
			}
		}
	}
}