@font-face {
  font-family: 'Gas';
  src: url('/img/gas.eot'); /* IE9 Compat Modes */
  src: url('/img/gas.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/img/gas.woff2') format('woff2'), /* Super Modern Browsers */
       url('/img/gas.woff') format('woff'), /* Pretty Modern Browsers */
       url('/img/gas.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/img/gas.svg#svgFontName') format('svg'); /* Legacy iOS */
}