@font-face {
  font-family: 'webGas';
  src: url('/img/fonts/webGas.eot'); /* IE9 Compat Modes */
  src: url('/img/fonts/webGas.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/img/fonts/webGas.woff2') format('woff2'), /* Super Modern Browsers */
       url('/img/fonts/webGas.woff') format('woff'), /* Pretty Modern Browsers */
       url('/img/fonts/webGas.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/img/fonts/webGas.svg#svgFontName') format('svg'); /* Legacy iOS */
}