@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

.navigation {
	/* border-bottom: 1px solid #333; */
	/* align-items: left; */
	padding: .5em;
	/* background: #fff; */
	position: fixed;
	top: 0;
	left: 0;
	width: 230px;
	height: 100vh;
	z-index: 99;

	.logo {
		width: 230px;
	}

	nav {
		position: fixed;
		/* text-align: left; */
		/* padding: 0; */
		top: 120px;
		left: 22px;
	}

	a {
		color: #fff;
	    font-size: 18px;
	    text-decoration: none;
	    //padding: 1em;
	    //position: fixed;
	    top: 0;
	    left: 0;
	    //background: red;
	    display: flex;

		&:hover {
			color: #ddd;
		}
	}
}

.main-container {
	min-height: 100vh
}

article {
	color: #fff;
	max-width: 600px;
	margin: 0 auto;
    padding: 1em 0;

    p {
    	font-size: 18px;
    	line-height: 25px;
    }
}

.footer {
	background: #fff; padding: 2em;  text-align: center;
	z-index: 99;
	position: relative;
}