---
layout: default
---


<section class="animated fadeIn" style="padding: 0; ">
	<header style="background-image: url({{page.img}}); background-size: cover; height: 500px; text-align: center; display: flex; align-items: center; flex-direction: column; justify-content: center; opacity: .3; background-color: #000;">
	</header>

	<article>
				<h1  style="text-transform: uppercase; margin: 0; font-weight: 600; font-size: 60px; position: absolute; top: 30vh; min-width: 600px; left: calc(50vw - 300px); text-align: center" >{{page.title}}</h1>

		<i>
			{{page.meta}}
		</i> <br><br>


	
	<p >
		{{content}}
	</p>
	</article>
	
</section>



