---
layout: default
---

<div class="navigation">
	<a href="/" class="logo">
		<img src="/img/logo-clinicas.svg" alt="" >
	</a>

	<a href="/trabajos" style="position: fixed; top: 100px; left: 0; background: #fff; color: #333; padding: 1em; width: 200px; font-weight: 600;" >Volver a trabajos</a>

	
	<a href="https://www.facebook.com/profile.php?id=100004875495580" target="_blank" class="social-facebook">
		<img src="/img/social-facebook.svg" width="25px" alt="">
		
	</a>
</div>

<div class="main-container">
	
	<div class="animated fadeIn" style="padding: 0; background: #111; ">
		<header style="background-image: url({{page.img}}); background-size: cover; height: 100vh; text-align: center; display: flex; align-items: center; flex-direction: column; justify-content: center; opacity: .4; background-color: #000; background-position: top center">
		</header>

		<article>
			<h1>{{page.title}}</h1>

			<i>
			{{page.meta}}
			</i> <br><br>
		<p>
			{{content}}
		</p>

		{% capture clinicas %}{{page.collection}}{% endcapture %}
		  {% if page.collection %}
		    {% assign  document = site[clinicas]  %}
		  {% endif %}
		{% for links in document  %}
		  {% if links.title == page.title %}
		    {% unless forloop.first %}
		      {% assign prevurl = prev.url %}
		    {% endunless %}
		    {% unless forloop.last %}
		      {% assign next = document[forloop.index] %}
		      {% assign nexturl = next.url %}
		    {% endunless %}
		  {% endif %}
		  {% assign prev = links %}
		{% endfor %}

		<script>
		document.body.onkeyup = function(e){
		if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
		if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
		};
		</script>

		<h2>Atajos de teclado</h2>

		{% if prevurl %}<a href="{{prevurl}}" class="prev">Flecha Izquierda {{prevurl}}</a>{% endif %}<br />

		{% if nexturl %}<a href="{{nexturl}}" class="nxt">Flecha derecha {{nexturl}}</a>{% endif %}

		</article>
		
	</div>




</div>
