<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clinicas colectivas</title>
	  <link rel="stylesheet" href="{{site.baseurl}}/style.css">
</head>
<body>
	
	<div class="navigation">
		<a href="/">
			<img src="/img/logo-clinicas.svg" alt="" class="logo">
		</a>


		<nav class="menu menu--adsila">
			<a class="menu__item" href="/">
				<span class="menu__item-name">Inicio</span>
			</a>
			<a class="menu__item" href="/nosotrxs">
				<span class="menu__item-name">Nosotrxs</span>
			</a>
			<a class="menu__item" href="/proyectos">
				<span class="menu__item-name">Proyectos</span>
			</a>
			<a class="menu__item" href="/contacto">
				<span class="menu__item-name">Contacto</span>
			</a>
		</nav>
	</div>
	
	<div class="main-container">
		{{content}}
	</div>

	

	<script src="js/decorative-background/demo.js"></script>
	<script src="js/decorative-background/three.min.js"></script>
	<script src="js/decorative-background/TweenMax.min.js"></script>
	<script src="js/decorative-background/demo1.js"></script>

</body>
</html>