<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clinicas colectivas</title>
	  <link rel="stylesheet" href="{{site.baseurl}}/style.css">
</head>
<body>
	
	<div class="navigation">
		<a href="/">
			<img src="/img/logo-clinicas.svg" alt="" class="logo">
		</a>

		<nav>
			<a href="/">Inicio</a>
			<a href="/nosotrxs">Nosotrxs</a>
			<a href="/proyectos">Proyectos</a>
			<a href="/contacto">Contacto</a>
		</nav>
	</div>
	
	<div class="main-container">
		{{content}}
	</div>

	<div class="footer">
		<img src="/img/logo-clinicas.svg" alt="" class="logo" style="width: 200px">
	</div>

</body>
</html>